body {
  margin: 0;
  min-height: 100vh;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hidden {
  display: none !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
